html
    head
        title Twitch JSON API
        link(href="css/style.css", rel="stylesheet")
        link(href="https://necolas.github.io/normalize.css/5.0.0/normalize.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Bree+Serif|Nunito+Sans|Oswald|Raleway|Roboto", rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css", rel="stylesheet")
        
    body
        #header
            h1#logotext.animated.fadeIn Twitch.tv JSON API
        #container

script(src="https://code.jquery.com/jquery-3.1.1.min.js")
script(src="js/script.js")



    
