html
    head
        title Twitch JSON API
        link(href="css/style.css", rel="stylesheet")
        link(href="https://necolas.github.io/normalize.css/5.0.0/normalize.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Bree+Serif|Nunito+Sans|Oswald|Raleway|Roboto", rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css", rel="stylesheet")
        
    body
        #header
            a(href='http://twitch.tv')
                img#twitchlogo(src='http://nerdrating.com/files/2014/06/TwitchTV-logo2.png', alt='')
            h1#logotext.animated.fadeIn - JSON API
        #container
            .stream.animated.fadeInUp
                #img1
                    img.streamimg(src='https://static-cdn.jtvnw.net/previews-ttv/live_user_2ggaming-320x180.jpg')
                .infocontainer
                    h1.title#title1 
                    p.game#game1 
                    p.user#user1 
                    .inlinestatus
                        p.status#status1 
                        p.viewers#viewers1 
            .stream.animated.fadeInUp
                #img2
                    img.streamimg(src='https://static-cdn.jtvnw.net/previews-ttv/live_user_2ggaming-320x180.jpg')
                .infocontainer
                    h1.title#title2
                    p.game#game2
                    p.user#user2
                    .inlinestatus
                        p.status#status2
                        p.viewers#viewers2
            .stream.animated.fadeInUp
                #img3
                    img.streamimg(src='https://static-cdn.jtvnw.net/previews-ttv/live_user_2ggaming-320x180.jpg')
                .infocontainer
                    h1.title#title3
                    p.game#game3
                    p.user#user3
                    .inlinestatus
                        p.status#status3
                        p.viewers#viewers3
            .stream.animated.fadeInUp
                #img4
                    img.streamimg(src='https://static-cdn.jtvnw.net/previews-ttv/live_user_2ggaming-320x180.jpg')
                .infocontainer
                    h1.title#title4
                    p.game#game4
                    p.user#user4
                    .inlinestatus
                        p.status#status4
                        p.viewers#viewers4

script(src="https://code.jquery.com/jquery-3.1.1.min.js")
script(src="js/script.js")



    